.landing-container {
    display: grid;
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    grid-template-rows: 60px 950px 60px;
    grid-template-columns: 1fr 200px;
}

.header-container {
    grid-area: header;
    background-color: #f2f4fb;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    //border-bottom: solid #ca4043;
}

.header-container > div {
    padding: 10px;
}

.btn-group {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.home-container {
    font-size: 25px;
    font-weight: bold;
}

.login-button {
    margin-left: auto;
}

.content-container {
    grid-area: content;
    background-image: url("../resources/images/sc-stairs-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: minmax(505px, 700px) 1fr 500px;
    grid-template-rows: 500px 1fr;
}

.description {
    background-image: linear-gradient(to bottom right, #be3144, #f95959);
    border-radius: 30px;
    padding: 70px;
    margin-left: -25px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.desc-text {
    font-weight: bold;
    p:nth-child(1) {
        font-size: 40px;
    }
    p:nth-child(2) {
        font-weight: 500;
        font-size: 20px;
    }
}

.cullen-image-container {
    grid-column: -1;
    background-color: #a83b3e;
    img {
        width: 1000px;
    }
}

.footer-container {
    grid-area: footer;
    background-color: #be3144;
    color: #ffffff;
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.footer-container > h3 {
    color: #fafafa;
}

.btn {
    outline: none;
    border: none;
    display: table;
    margin: 10px;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 45px;
    line-height: 21px;
    border-radius: 7px;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    background-color: #285efe;
    color: #fafafa;
}

.btn--1 {
    background-color: #f2f4fb;
    color: #be3144;
    border: 2px solid #be3144;
}

.btn--2 {
    background-color: #be3144;
    color: #ffffff;
    border: 2px solid #be3144;
}

.login-menu-container {
    background-image: linear-gradient(
        109.6deg,
        rgba(204, 228, 247, 1) 11.2%,
        rgba(237, 246, 250, 1) 100.2%
    );
    border-radius: 7px;
    padding: 70px;
    grid-column: 3/-1;
    margin: 50px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    .title-container{
        color: #33494a;
    }
}
